<div class="main-card mb-3 card">
    <div class="card-header">
        Course
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
                <button class="btn btn-primary float-end my-2 mr-2" (click)="openModal(courseModal)">
                    Add Course
                </button>
            </div>
        </div>
    </div>


    <div class="table-responsive p-3">
        <table datatable [dtOptions]="dtOptions"
            class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-left" style="width: 5%;">
                        No.
                    </th>
                    <th class="text-left" style="width: 30%;">
                        Course Name
                    </th>
                    <!-- <th class="text-left" style="width: 30%;">
                        Start Date
                    </th>
                    <th class="text-left" style="width: 30%;">
                        End Date
                    </th> -->
                    <th class="text-left" style="width: 5%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses;let i=index">
                    <td class="text-left">
                        {{course.index}}
                    </td>
                    <td class="text-left text-capitalize">
                        {{course.courseName}}
                    </td>
                    <!-- <td class="text-left text-capitalize">
                        {{course.startDate | date:'dd/MM/yyyy'}}
                    </td>
                    <td class="text-left text-capitalize">
                        {{course.endDate | date:'dd/MM/yyyy'}}
                    </td> -->
                    <td class="text-left text-nowrap">
                        <button class="me-1 btn btn-primary btn-sm"
                            (click)="openModal(courseModal,course.courseId)">Edit</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteCourse(course.courseId)">Delete</button>

                    </td>
                </tr>
                <tr *ngIf="courses.length==0">
                    <td colspan="3" class="text-center">No course found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #courseModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form [formGroup]="courseform" (ngSubmit)="SaveCourse()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="hidden" formControlName="courceId">
                    <label class="form-label">Course Name <span class="text-danger">*</span></label>
                    <input type="text" formControlName="courceName" class="form-control"
                        placeholder="Enter Course Name">
                    <div *ngIf="isSubmitted && f['courceName'].errors">
                        <span *ngIf="f['courceName'].errors['required']" class="text-danger">Course name is
                            required.</span>
                    </div>
                </div>
                <!-- <div class="col-md-12 mb-3">
                    <label class="form-label">Start Date <span class="text-danger">*</span></label>
                    <input type="date" formControlName="startDate" class="form-control" (change)="StartDateOnChange()"
                        placeholder="Enter start date">
                    <div *ngIf="isSubmitted && f['startDate'].errors">
                        <span *ngIf="f['startDate'].errors['required']" class="text-danger">Start date is
                            required.</span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">End Date <span class="text-danger">*</span></label>
                    <input type="date" formControlName="endDate" class="form-control" placeholder="Enter End Date"
                        [min]=StartDate>
                    <div *ngIf="isSubmitted && f['endDate'].errors">
                        <span *ngIf="f['endDate'].errors['required']" class="text-danger">End date is
                            required.</span>
                    </div>
                </div> -->
                <!-- <div class="col-md-12 mb-3">
                    <label for="form-label">Intake <span class="text-danger">*</span></label>

                    <div class="position-relative col-md-10 mb-3">

                        <div class="form-check form-check-inline" *ngFor="let i of intakes">
                            <input class="form-check-input" type="checkbox" id="intake{{i.intakeId}}"
                                value="{{i.intakeId}}" [checked]="ischecked(i.intakeId)"
                                (change)="onChangeCheckbox($event)">
                            <label class="form-check-label" for="intake{{i.intakeId}}">{{i.intakeName}}</label>

                            <div *ngIf="isSubmitted && f['intake'].errors">
                                <span *ngIf="f['intake'].errors['required']" class="text-danger">Intake is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>


        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</ng-template>