<div class="card mb-4 me-2" [ngClass]="cardClass" *ngIf="isDraggable" cdkDrag>
  <div class="card-header row mx-0">
    <div class="col-md-12 ps-0">
      <div class="float-start text-capitalize" style="width: 193px">
        <span
          class="stage-text float-start"
          style="letter-spacing: 0px; color: black"
          ><i class="fa fa-user fsize-3 me-2 header-icon"></i>
          {{ application.lastName }} </span
        >, {{ application.firstName }}
      </div>
      <div
        *ngIf="isArchive"
        class="float-end text-danger fw-normal new-label text-uppercase"
      >
        {{ application.applicationStatusName }}
      </div>
      <div
        class="float-end fw-normal new-label"
        [ngClass]="newTextClass"
        *ngIf="application.isNew"
      >
        NEW
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div
        class="title fsize-1 mb-3 fw-600 course-name"
        *ngIf="application.course && application.course.courseName"
      >
        {{ application.course.courseName }}
      </div>
      <div *ngIf="application.totalAccepted">
        <span class="text-warning" *ngIf="application.totalUploaded > 0"
          >+ {{ application.totalUploaded }}</span
        >
        <i class="vsm-icon pe-7s-file"></i>
        {{ application.totalAccepted }}/{{ application.totalRequested }}
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="me-2 text-end">
          <div class="title">APPLIED</div>
          <div class="date">
            {{ application.createdDate | date : "dd MMM ''yy" }}
          </div>
        </div>
        <div class="me-2 border-left ps-2">
          <div class="title text-uppercase">{{ displayDateLabel }}</div>
          <div class="date">
            {{ application.updatedDate | date : "dd MMM ''yy" }}
          </div>
        </div>
        <div class="me-2 border-left ps-2" *ngIf="application.totalComment > 0">
          <div class="title icon">
            <i class="vsm-icon pe-7s-comment fsize-2"></i>
          </div>
          <div class="fw-bold text-center">
            {{ application.totalComment }}
          </div>
        </div>
      </div>
      <div>
        <div class="ms-2 text-end" *ngIf="isShowStage">
          <div class="title">STEPS</div>
          <div class="fw-bold">{{ application.applicationStage }}/4</div>
        </div>
        <div class="text-end" *ngIf="!isShowStage">
          <span
            class="first-circle"
            title="{{ application.agentDetail.userName }}"
            *ngIf="application.isAssignedToAgent"
          >
            AG
          </span>
          <span
            title="{{ application.regionalManagerDetail.userName }}"
            [ngClass]="{
              'second-circle': application.isAssignedToAgent,
              'first-circle': !application.isAssignedToAgent
            }"
            *ngIf="application.isAssignedToRegionalManager"
          >
            RM
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isShowFooter"
    class="d-flex mx-0 px-2 card-footer"
    [class.justify-content-between]="isArchive"
    [class.justify-content-end]="!isArchive"
    [ngClass]="footerClass"
  >
    <div *ngIf="isArchive" class="border-top-0 float-start">
      Reason : {{ (application.archiveOn === 'Rejected' && (!application.reason || application.reason.trim() === '')) ? 'Due to Age Limit' : application.reason }}
    </div>
    <div *ngIf="isArchive" class="border-top-0 float-end fw-bold">
      Stage : {{ application.archiveOn }}
    </div>
    <div class="fw-bold" *ngIf="!isArchive && pendingWaitingDoc>0">{{ footerText }} : {{ pendingWaitingDoc }}</div>
  </div>
</div>
<div class="card mb-4 me-2" [ngClass]="cardClass" *ngIf="!isDraggable">
  <div class="card-header row mx-0">
    <div class="col-md-12 ps-0">
      <div class="float-start text-capitalize" style="width: 193px">
        <span
          class="stage-text float-start"
          style="letter-spacing: 0px; color: black"
          ><i class="fa fa-user fsize-3 me-2 header-icon"></i>
          {{ application.lastName }} </span
        >, {{ application.firstName }}
      </div>
      <div
        *ngIf="isArchive"
        class="float-end text-danger fw-normal new-label text-uppercase"
      >
        {{ application.applicationStatusName }}
      </div>
      <div
        class="float-end fw-normal new-label"
        [ngClass]="newTextClass"
        *ngIf="application.isNew"
      >
        NEW
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div
        class="title fsize-1 mb-3 fw-600 course-name"
        *ngIf="application.course && application.course.courseName"
      >
        {{ application.course.courseName }}
      </div>
      <div *ngIf="application.totalAccepted">
        <span class="text-warning" *ngIf="application.totalUploaded > 0"
          >+ {{ application.totalUploaded }}</span
        >
        <i class="vsm-icon pe-7s-file"></i>
        {{ application.totalAccepted }}/{{ application.totalRequested }}
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="me-2 text-end">
          <div class="title">APPLIED</div>
          <div class="date">
            {{ application.createdDate | date : "dd MMM ''yy" }}
          </div>
        </div>
        <div class="me-2 border-left ps-2">
          <div class="title text-uppercase">{{ displayDateLabel }}</div>
          <div class="date">
            {{ application.updatedDate | date : "dd MMM ''yy" }}
          </div>
        </div>
        <div class="me-2 border-left ps-2" *ngIf="application.totalComment > 0">
          <div class="title icon">
            <i class="vsm-icon pe-7s-comment fsize-2"></i>
          </div>
          <div class="fw-bold text-center">
            {{ application.totalComment }}
          </div>
        </div>
      </div>
      <div>
        <div class="ms-2 text-end" *ngIf="isShowStage">
          <div class="title">STEPS</div>
          <div class="fw-bold">{{ application.applicationStage }}/4</div>
        </div>
        <div class="text-end" *ngIf="!isShowStage">
          <span
            class="first-circle"
            title="{{ application.agentDetail.userName }}"
            *ngIf="application.isAssignedToAgent"
          >
            AG
          </span>
          <span
            title="{{ application.regionalManagerDetail.userName }}"
            [ngClass]="{
              'second-circle': application.isAssignedToAgent,
              'first-circle': !application.isAssignedToAgent
            }"
            *ngIf="application.isAssignedToRegionalManager"
          >
            RM
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isShowFooter"
    class="d-flex mx-0 px-2 card-footer"
    [class.justify-content-between]="isArchive"
    [class.justify-content-end]="!isArchive"
    [ngClass]="footerClass"
  >
    <div *ngIf="isArchive" class="border-top-0 float-start">
      Reason : {{ application.reason }}
    </div>
    <div *ngIf="isArchive" class="border-top-0 float-end fw-bold">
      Stage : {{ application.archiveOn }}
    </div>
    <div class="fw-bold" *ngIf="!isArchive && pendingWaitingDoc>0">{{ footerText }} : {{ pendingWaitingDoc }}</div>
  </div>
</div>
