<div class="h-100">
  <div class="row h-100 g-0">
    <div class="d-none d-lg-block col-lg-4">
      <div class="slider-light">
        <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
          <div class="slide-img-bg"></div>
          <!-- <div class="slider-content text-light">
          <h3>Perfect Balance</h3>
          <p>
            ArchitectUI is like a dream. Some think it's too good to be true! Extensive collection of
            unified Vue Bootstrap Components and Elements.
          </p>
        </div> -->
        </div>
      </div>
    </div>
    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
      <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-9">
        <div class="app-logo"></div>
        <h4>
          <div>Forgot your Password?</div>
          <span>Use the form below to recover it.</span>
        </h4>
        <div>
          <form [formGroup]="ForgotForm" (ngSubmit)="UserforgetPassword()">
            <div class="row">
              <div class="col-md-12">
                <fieldset class="mb-3" id="__BVID__133">
                  <div tabindex="-1" role="group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" placeholder="Email here..." class="form-control"
                      formControlName="email">
                    <div *ngIf="isSubmitted && f['email'].errors">
                      <span *ngIf="f['email'].errors['required']" class="text-danger">Email is required.</span>
                      <span *ngIf="f['email'].errors['pattern']" class="text-danger">Please enter valid email.</span>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="mt-4 d-flex align-items-center">
              <h6 class="mb-0"><a (click)="redirectToLogin()" class="text-primary">Sign in existing
                  account</a></h6>
              <div class="ms-auto">
                <button type="submit" class="btn btn-primary btn-lg">Recover Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>